/* Estilo global para la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #afafaf;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para el encabezado */
h1 {
    color: #4a90e2;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para la imagen */
img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo para el botón */
button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

/* Efecto de brillo en el botón */
button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: transform 0.5s;
}

button:hover::before {
    transform: rotate(45deg) translateX(100%);
}

/* Efecto de hover en el botón */
button:hover {
    background: linear-gradient(135deg, #4a90e2, #357abd);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Efecto de clic en el botón */
button:active {
    transform: scale(0.95);
}

/* Efecto de enfoque en el botón */
button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}
